<h1>Questions#ask</h1>
<!-- <p>Find me in test app/views/questions/ask.html.erb</p> -->

<form action="/answer" method="get">
  <input type="text" name="question" placeholder="Your question?">
  <input type="submit" value="Ask!">
</form>


<!--
<form action="???">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form> -->
